<p style="color: green"><%= notice %></p>

<% unless signed_in? %>
  <%= render "layouts/hero" %>
<% end %>

<div id="recipes">
  <% @recipes.each do |recipe| %>
    <%= render recipe %>
    <p>
      <%= link_to "Show this recipe", recipe %>
    </p>
  <% end %>
</div>
